GoogleToOutlook365CalendarSync_20200916090047/Microsoft.Flow/flows/ab90b830-3d72-4b96-af94-a987f562c65d/definition.json
{"name":"1e021fa9-9b6d-47c6-a7d2-f0d60f09198e","id":"/providers/Microsoft.Flow/flows/1e021fa9-9b6d-47c6-a7d2-f0d60f09198e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Google to Outlook sync","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"906fba73-c303-4006-be25-49014307294b","type":"User","tenantId":"daf02817-426f-407e-a0c2-ccbd0ffdde9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-09-20T16:17:21.9109435Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_event_is_added,_updated_or_deleted_from_a_calendar":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/items']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"OnChangedEventInCalendar"},"parameters":{"calendar_id":"my_google_account@gmail.com","singleEvents":true},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","$filter":"GoogleEventId eq '@{triggerOutputs()?['body/id']}'","$top":1,"$select":"GoogleEventId"},"authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{"Terminate_2":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"1","message":"Length_Values:@{length(outputs('List_rows_present_in_a_table')?['body/value'])} Title: @{triggerOutputs()?['body/summary']}Action:@{triggerOutputs()?['body/ActionType']} Id:@{triggerOutputs()?['body/id']}"}}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"else":{"actions":{"Condition":{"actions":{"Start_Time_2":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/start']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"End_Time_2":{"runAfter":{"Start_Time_2":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/end']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"Create_event_(V4)":{"runAfter":{"End_Time_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","item/subject":"[GC]@{triggerOutputs()?['body/summary']}","item/start":"@body('Start_Time_2')","item/end":"@body('End_Time_2')","item/timeZone":"(UTC+02:00) Athens, Bucharest","item/body":"<p>@{triggerOutputs()?['body/description']}</p>","item/location":"@triggerOutputs()?['body/location']","item/isReminderOn":false,"item/showAs":"busy"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Create_event_(V4)":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","item/GoogleEventId":"@triggerOutputs()?['body/id']","item/O365EventId":"@outputs('Create_event_(V4)')?['body/id']","item/Title":"@outputs('Create_event_(V4)')?['body/subject']","item/Source":"google","item/Start":"@body('Start_Time_2')","item/End":"@body('End_Time_2')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Get_a_row":{"runAfter":{},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"GoogleEventId","id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Start_Time_1":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/start']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"End_Time_1":{"runAfter":{"Start_Time_1":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/end']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"Update_event_(V4)":{"runAfter":{"End_Time_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPatchItem"},"parameters":{"table":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","id":"@outputs('Get_a_row')?['body/O365EventId']","item/subject":"[GC]@{triggerOutputs()?['body/summary']}","item/start":"@body('Start_Time_1')","item/end":"@body('End_Time_1')","item/timeZone":"(UTC+02:00) Athens, Bucharest"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Update_event_(V4)":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"GoogleEventId","id":"@triggerOutputs()?['body/id']","item/GoogleEventId":"@outputs('Get_a_row')?['body/GoogleEventId']","item/O365EventId":"@outputs('Get_a_row')?['body/O365EventId']","item/Title":"@outputs('Update_event_(V4)')?['body/subject']","item/Source":"google","item/Start":"@body('Start_Time_1')","item/End":"@body('End_Time_1')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_a_row":["Succeeded"]},"else":{"actions":{"Delete_event_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarDeleteItem_V2"},"parameters":{"calendar":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","event":"@outputs('Get_a_row')?['body/O365EventId']"},"authentication":"@parameters('$authentication')"}},"Delete_a_row":{"runAfter":{"Delete_event_(V2)":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"GoogleEventId","id":"@outputs('Get_a_row')?['body/GoogleEventId']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/actionType']","updated"]},"type":"If"}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/actionType']","added"]},{"and":[{"equals":["@triggerOutputs()?['body/actionType']","updated"]},{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]}]}]},"type":"If"}}},"expression":{"or":[{"startsWith":["@triggerOutputs()?['body/summary']","[O365]"]},{"and":[{"equals":["@triggerOutputs()?['body/actionType']","added"]},{"not":{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]}}]},{"and":[{"equals":["@triggerOutputs()?['body/actionType']","deleted"]},{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]}]}]},"type":"If"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"0d59f3a35e4a42cb8a693acd9e626349","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-12ae1a1e-eb10-4754-87a6-b517f573b8c8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_googlecalendar":{"connectionName":"shared-googlecalenda-3157dbe1-d3d4-4480-be94-23b95f5cd02e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}