GoogleToOutlook365CalendarSync_20200916090047/Microsoft.Flow/flows/ab90b830-3d72-4b96-af94-a987f562c65d/definition.json
{"name":"3e190efd-1ed5-41b4-8161-2350e9d2a29b","id":"/providers/Microsoft.Flow/flows/3e190efd-1ed5-41b4-8161-2350e9d2a29b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Copy of - Google to Outlook sync","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"906fba73-c303-4006-be25-49014307294b","type":"User","tenantId":"daf02817-426f-407e-a0c2-ccbd0ffdde9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-09-16T12:21:43.5535111Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_event_is_added,_updated_or_deleted_from_a_calendar":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/items']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"OnChangedEventInCalendar"},"parameters":{"calendar_id":"alex@opsguru.io","singleEvents":true},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{"EndTime":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","$filter":"GoogleEventId eq '@{triggerOutputs()?['body/id']}'","$top":1,"$select":"GoogleEventId"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Condition_2":{"actions":{"Create_event_(V4)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","item/subject":"@triggerOutputs()?['body/summary']","item/start":"@body('StartTime')","item/end":"@body('EndTime')","item/timeZone":"(UTC+02:00) Athens, Bucharest","item/body":"<p>GSuite Event</p>","item/showAs":"busy"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Create_event_(V4)":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","item/GoogleEventId":"@triggerOutputs()?['body/id']","item/O365EventId":"@outputs('Create_event_(V4)')?['body/id']","item/Title":"@triggerOutputs()?['body/summary']","item/Source":"google"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"not":{"equals":["@triggerOutputs()?['body/actionType']","delete"]}},"type":"If"}},"runAfter":{"Filter_array":["Succeeded"]},"else":{"actions":{"Switch":{"runAfter":{"Get_a_row":["Succeeded"]},"cases":{"Case_2":{"case":"updated","actions":{"Update_event_(V4)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPatchItem"},"parameters":{"table":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","id":"@outputs('Get_a_row')?['body/O365EventId']","item/subject":"@triggerOutputs()?['body/summary']","item/start":"@body('StartTime')","item/end":"@body('EndTime')","item/timeZone":"(UTC+02:00) Athens, Bucharest","item/body":"<p><br></p>","item/showAs":"busy"},"authentication":"@parameters('$authentication')"}}}},"Case_3":{"case":"deleted","actions":{"Delete_event_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarDeleteItem_V2"},"parameters":{"calendar":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","event":"@outputs('Get_a_row')?['body/O365EventId']"},"authentication":"@parameters('$authentication')"}},"Delete_a_row":{"runAfter":{"Delete_event_(V2)":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"GoogleEventId","id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/actionType']","type":"Switch"},"Get_a_row":{"runAfter":{},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"GoogleEventId","id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]},"type":"If"},"StartTime":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/start']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"EndTime":{"runAfter":{"StartTime":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/end']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"Filter_array":{"runAfter":{"Condition_3":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","where":"@equals(item()?['Source'], 'google')"}},"Condition_3":{"actions":{"Terminate_2":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]}},{"equals":["@triggerOutputs()?['body/actionType']","added"]}]},"type":"If"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"0d59f3a35e4a42cb8a693acd9e626349","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-12ae1a1e-eb10-4754-87a6-b517f573b8c8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_googlecalendar":{"connectionName":"shared-googlecalenda-3157dbe1-d3d4-4480-be94-23b95f5cd02e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}