SetupExcelForCalendarSync_20200916091449/Microsoft.Flow/flows/fd2876b9-9372-4333-ab7e-a04bb0226ef9/definition.json
{"name":"c36cefb2-ee4f-457b-a396-8ea634cea978","id":"/providers/Microsoft.Flow/flows/c36cefb2-ee4f-457b-a396-8ea634cea978","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SetupExcelForCalendarSync","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"906fba73-c303-4006-be25-49014307294b","type":"User","tenantId":"daf02817-426f-407e-a0c2-ccbd0ffdde9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-09-16T12:59:03.745351Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_worksheets":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetAllWorksheets"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"/Calendar Ids.xlsx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition":{"actions":{"Create_worksheet":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateWorksheet"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"/Calendar Ids.xlsx","body/name":"IDXRef"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_table":{"runAfter":{"Create_worksheet":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table/Range":"A1:D1","table/TableName":"Table1","table/ColumnsNames":"GoogleEventId;O365EventId;Title;Source;Start;End"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_worksheets":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@length(outputs('Get_worksheets')?['body/value'])",0]},"type":"If"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"0d59f3a35e4a42cb8a693acd9e626349","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}