Outlook365ToGoogleCalendarSync_20200916085942/Microsoft.Flow/flows/70981843-beba-4944-9b90-6e9b0caa890f/definition.json
{"name":"100e9fd1-4634-49a0-a95e-eb67b5820329","id":"/providers/Microsoft.Flow/flows/100e9fd1-4634-49a0-a95e-eb67b5820329","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Outlook to Google sync","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"906fba73-c303-4006-be25-49014307294b","type":"User","tenantId":"daf02817-426f-407e-a0c2-ccbd0ffdde9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-09-16T08:54:04.9044812Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_event_is_added,_updated_or_deleted_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarGetOnChangedItemsV3"},"parameters":{"table":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","incomingDays":300,"pastDays":10},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","$filter":"O365EventId eq '@{triggerOutputs()?['body/id']}' ","$top":1,"$select":"O365EventId"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Condition_2":{"actions":{"Add_a_row_into_a_table":{"runAfter":{"Create_an_event_2":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","item/GoogleEventId":"@outputs('Create_an_event_2')?['body/id']","item/O365EventId":"@triggerOutputs()?['body/id']","item/Title":"@triggerOutputs()?['body/subject']","item/Source":"365"},"authentication":"@parameters('$authentication')"}},"StartTime":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/start']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"Create_an_event_2":{"runAfter":{"EndTime":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"CreateEvent"},"parameters":{"calendarId":"me@gmail.com","newEvent/start":"@body('StartTime')","newEvent/end":"@body('EndTime')","newEvent/summary":"365:@{triggerOutputs()?['body/subject']}","newEvent/description":"@triggerOutputs()?['body/body']","newEvent/location":"@triggerOutputs()?['body/location']","newEvent/isAllDay":"@triggerOutputs()?['body/isAllDay']"},"authentication":"@parameters('$authentication')"}},"EndTime":{"runAfter":{"StartTime":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/end']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"not":{"equals":["@triggerOutputs()?['body/ActionType']","delete"]}},"type":"If"}},"runAfter":{"Filter_array":["Succeeded"]},"else":{"actions":{"Switch":{"runAfter":{"Get_a_row":["Succeeded"]},"cases":{"Case_2":{"case":"updated","actions":{"StartTime2":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/start']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"Update_an_event":{"runAfter":{"EndTime2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"UpdateEvent"},"parameters":{"calendarId":"me@gmail.com","eventId":"@outputs('Get_a_row')?['body/GoogleEventId']","updatedEvent/summary":"@triggerOutputs()?['body/subject']","updatedEvent/start":"@body('StartTime2')","updatedEvent/end":"@body('EndTime2')","updatedEvent/description":"@triggerOutputs()?['body/body']","updatedEvent/location":"@triggerOutputs()?['body/location']","updatedEvent/isAllDay":"@triggerOutputs()?['body/isAllDay']"},"authentication":"@parameters('$authentication')"}},"EndTime2":{"runAfter":{"StartTime2":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/end']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}}}},"Case_3":{"case":"deleted","actions":{"Delete_an_event":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"DeleteEvent"},"parameters":{"calendarId":"me@gmail.com","eventId":"@outputs('Get_a_row')?['body/GoogleEventId']"},"authentication":"@parameters('$authentication')"}},"Delete_a_row_2":{"runAfter":{"Delete_an_event":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"O365EventId","id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/ActionType']","type":"Switch"},"Get_a_row":{"runAfter":{},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"O365EventId","id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]},"type":"If"},"Filter_array":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","where":"@equals(item()?['Source'], 365)"}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"0d59f3a35e4a42cb8a693acd9e626349","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_googlecalendar":{"connectionName":"shared-googlecalenda-3157dbe1-d3d4-4480-be94-23b95f5cd02e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-12ae1a1e-eb10-4754-87a6-b517f573b8c8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}