Outlook365ToGoogleCalendarSync_20200916085942/Microsoft.Flow/flows/70981843-beba-4944-9b90-6e9b0caa890f/definition.json
{"name":"100e9fd1-4634-49a0-a95e-eb67b5820329","id":"/providers/Microsoft.Flow/flows/100e9fd1-4634-49a0-a95e-eb67b5820329","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Outlook to Google sync","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"906fba73-c303-4006-be25-49014307294b","type":"User","tenantId":"daf02817-426f-407e-a0c2-ccbd0ffdde9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-09-20T16:47:06.9598222Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_event_is_added,_updated_or_deleted_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarGetOnChangedItemsV3"},"parameters":{"table":"AQMkADEyZjVlN2VkLTJhNGYtNDhkOC1iOWEyLTliMTYwYjViNTRiMQBGAAAD4Eu7GNf0SUK-AQiua3qXkQcAD3qL-xz6v02KgYiLJBhb9wAAAkrBAAAAX3wohsLAt0aLfxAbz31dqABywYqCGAAAAA==","incomingDays":14,"pastDays":0},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","$filter":"O365EventId eq '@{triggerOutputs()?['body/id']}' ","$top":1,"$select":"O365EventId"},"authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{"Terminate_3":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"1","message":"Length_Values:@{length(outputs('List_rows_present_in_a_table')?['body/value'])} Subject: @{triggerOutputs()?['body/subject']}Action:@{triggerOutputs()?['body/ActionType']} Id:@{triggerOutputs()?['body/id']}"}}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"else":{"actions":{"Condition":{"actions":{"Start_Time_2":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/start']","formatString":"s","sourceTimeZone":"@triggerOutputs()?['body/timeZone']","destinationTimeZone":"@triggerOutputs()?['body/timeZone']"}},"End_Time_2":{"runAfter":{"Start_Time_2":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/end']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"Create_an_event":{"runAfter":{"End_Time_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"CreateEvent"},"parameters":{"calendarId":"my_google_account@gmail.com","newEvent/start":"@body('Start_Time_2')","newEvent/end":"@body('End_Time_2')","newEvent/summary":"[O365]@{triggerOutputs()?['body/subject']}","newEvent/description":"@triggerOutputs()?['body/body']","newEvent/location":"@triggerOutputs()?['body/location']","newEvent/isAllDay":"@triggerOutputs()?['body/isAllDay']"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Create_an_event":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","item/GoogleEventId":"@outputs('Create_an_event')?['body/id']","item/O365EventId":"@triggerOutputs()?['body/id']","item/Title":"@outputs('Create_an_event')?['body/summary']","item/Source":"365","item/Start":"@body('Start_Time_2')","item/End":"@body('End_Time_2')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Get_a_row":{"runAfter":{},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"O365EventId","id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Start_Time_1":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/start']","formatString":"s","sourceTimeZone":"@triggerOutputs()?['body/timeZone']","destinationTimeZone":"@triggerOutputs()?['body/timeZone']"}},"End_Time_1":{"runAfter":{"Start_Time_1":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerOutputs()?['body/end']","formatString":"s","sourceTimeZone":"GTB Standard Time","destinationTimeZone":"GTB Standard Time"}},"Update_an_event":{"runAfter":{"End_Time_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"UpdateEvent"},"parameters":{"calendarId":"my_google_account@gmail.com","eventId":"@outputs('Get_a_row')?['body/GoogleEventId']","updatedEvent/summary":"[O365]@{triggerOutputs()?['body/subject']}","updatedEvent/start":"@body('Start_Time_1')","updatedEvent/end":"@body('End_Time_1')","updatedEvent/description":"@triggerOutputs()?['body/body']","updatedEvent/location":"@triggerOutputs()?['body/location']","updatedEvent/isAllDay":"@triggerOutputs()?['body/isAllDay']"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Update_an_event":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"O365EventId","id":"@outputs('Get_a_row')?['body/O365EventId']","item/GoogleEventId":"@outputs('Get_a_row')?['body/GoogleEventId']","item/O365EventId":"@outputs('Get_a_row')?['body/O365EventId']","item/Title":"@outputs('Update_an_event')?['body/summary']","item/Source":"365","item/Start":"@body('Start_Time_1')","item/End":"@body('End_Time_1')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_a_row":["Succeeded"]},"else":{"actions":{"Delete_an_event":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","connectionName":"shared_googlecalendar","operationId":"DeleteEvent"},"parameters":{"calendarId":"my_google_account@gmail.com","eventId":"@outputs('Get_a_row')?['body/GoogleEventId']"},"authentication":"@parameters('$authentication')"}},"Delete_a_row":{"runAfter":{"Delete_an_event":["Succeeded"]},"metadata":{"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z":"/Calendar Ids.xlsx","tableId":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"parameters":{"source":"me","drive":"b!rGqhDuYcIUyZWciURHMPUankrLICSf1Kg7V8i5QeGkAJR0PkfYmOSIdtOVwlwpFM","file":"01F2HGKTKGR7MUNSL4K5BIVXLRL54HFK2Z","table":"{F7BB293B-FA79-464A-BFD1-6A359124D5D1}","idColumn":"O365EventId","id":"@outputs('Get_a_row')?['body/O365EventId']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/ActionType']","updated"]},"type":"If"}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/ActionType']","added"]},{"and":[{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]},{"equals":["@triggerOutputs()?['body/ActionType']","updated"]}]}]},"type":"If"}}},"expression":{"or":[{"and":[{"equals":["@triggerOutputs()?['body/ActionType']","added"]},{"not":{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]}}]},{"and":[{"not":{"equals":["@triggerOutputs()?['body/ActionType']","deleted"]}},{"startsWith":["@triggerOutputs()?['body/subject']","[GC]"]}]},{"and":[{"equals":["@triggerOutputs()?['body/ActionType']","deleted"]},{"equals":["@length(outputs('List_rows_present_in_a_table')?['body/value'])",0]}]}]},"type":"If"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"0d59f3a35e4a42cb8a693acd9e626349","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_googlecalendar":{"connectionName":"shared-googlecalenda-3157dbe1-d3d4-4480-be94-23b95f5cd02e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_googlecalendar","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-12ae1a1e-eb10-4754-87a6-b517f573b8c8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}